.MuiTreeItem-root.Mui-selected > .MuiTreeItem-content .MuiTreeItem-label:hover,
.MuiTreeItem-root.Mui-selected:focus > .MuiTreeItem-content .MuiTreeItem-label {
  background-color: transparent !important;
}
.ql-container.ql-snow {
  height: auto;
}
.ql-editor {
  height: 93vh;
  overflow-y: auto;
}
